h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

body,
p,
span,
a,
li,
button {
  background-color: #5865f2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 25px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.logo {
  width: 150px;
}

.menu-icon {
  width: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: 400;
}
#MenuButton {
  background: none;
  padding: 8px;
}
